body{
    background-color: palevioletred;
    
}

#menu{
    padding: 50px 25px;
    text-align: center;
 
  
}

#nav-bar li{

    display: inline-block;
   justify-content: space-between; 
   padding: 50px;
    
}
#nav-bar a{
    text-decoration: none;
    color: black;
}
#nav-bar{
    margin: o auto;
}